max_bandwidth = 48000;
welcometext = "Welcome to uMurmur!";
certificate = "/etc/umurmur/cert.crt";
private_key = "/etc/umurmur/key.key";
password = "";
# opus_threshold = 100;      # Percentage of users supporting Opus codec for it to be chosen. Default is 100.
max_users = 10;

# bindport = 64738;
# bindaddr = "192.168.1.1";

# username and groupname for privilege dropping.
# Will attempt to switch user if set. 
# username = "";
# If groupname not set the user's default login group will be used
# groupname = "";

# Log to file option. Default is logging to syslog.
# umurmurd will close and reopen the logfile if SIGHUP is received.
# logfile = "/var/log/umurmurd.log";

### HOOKS
# These shall be paths to executable files which prints responses to stdout. stderr is redirected to the log.
# Channel tree definition - commandline args are "listchannels", returns json
# -like data.
channells_hookcmd = "/etc/umurmur/hook.py"
# Channel modification - commandline args are "modchannel", the channel name and
# json which shows the modified fields. Also used for adding channels.
channelmod_hookcmd = "/etc/umurmur/hook.py"
# Channel removal - commandline args are "rmchannel" and the channel name.
channelrm_hookcmd = "/etc/umurmur/hook.py"
# Channel links - commandline args are "listlinks", returns json-like data
channelln_hookcmd = "/etc/umurmur/hook.py"
# Join hook - commandline args are "join", the joining username and a
# certificate digest, returns "admin=1/0", exits with 0 to allow joining, else
# it will cancel connection.
join_hookcmd = "/etc/umurmur/hook.py
# Ban hook - commandline args are "ban", the username of the banned and the
# username of the admin.
ban_hookcmd = "/etc/umurmur/hook.py"
# Chat hook - commandline args are "chat", the username, the channel and the message. Everything printed to stdout is whispered to the sender.
chat_hookcmd = "/etc/umurmur/hook.py"
